#{extends 'main2.html' /}
#{set title:'Home' /}

<h1>Clientes</h1>

<hr> 

<form action="@{Usuarios.listar}">
	<label>Buscar por nome ou email:</label>
	<input type="text" name="termo" value="${termo}" />
	<input type="submit" />
</form>

<ul>
#{list items: usuarios, as:'u'}

<li> | ${u.nome} | ${u.email} | ${u.telefone} |
<a href="@{Usuarios.editar(u.id)}"> Editar</a> |
<a href="@{Usuarios.remover(u.id)}"> Remover</a> |
</li>

#{/list}
#{else}
<li>Nenhuma Pessoa Cadastrada</li>
#{/else}

</ul>

<a href="@{Usuarios.form}">Cadastrar Novo</a>

