<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Business Casual - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="@{'public/startbootstrap-business-casual-gh-pages/assets/favicon.ico'}" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="@{'public/startbootstrap-business-casual-gh-pages/css/styles.css'}" rel="stylesheet" />
</head>
        
        <link rel="stylesheet" media="screen" href="@{'/public//stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    
    <body>
        #{doLayout /}
        <header>
        
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">IF - Encine</span>
                <span class="site-heading-lower">Produção: Sysout picture</span>
            </h1>
            
        </header>
                <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index.html">Escolha seu filme</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="about.html">Filmes alugados</a></li>
                   	 <!---   <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="products.html">Fantasia</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="store.html">Suspense</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
        
         <h1 id="Literatura">LITERATURA BRASILEIRA</h1><br>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/148199421-300-300/2112281834.jpg?v=638144333193470000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">A hora da estrela</h5>
            <p class="card-text">R$ 34,90</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/114659024-300-300/42887676.jpg?v=637969366160330000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Olhos D'água</h5>
            <p class="card-text">R$ 32,00</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/148185312-300-300/46786250.jpg?v=638144309536330000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Textos cruéis demais...</h5>
            <p class="card-text">R$ 59,90</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>

    </div>
    <div class="container"><a href="literatura.html" class="btn btn-primary" id="btn-comprar"
        style="margin-top: 20px; ">VER MAIS</a></div>

    <hr>
    <h1 id="Biografias">BIOGRAFIAS</h1><br>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/148199421-300-300/2112281834.jpg?v=638144333193470000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Em busca de mim</h5>
            <p class="card-text">R$ 49,90</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/149429713-300-300/2112321629.jpg?v=638155235418270000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Quarto de despejo</h5>
            <p class="card-text">R$ 92,00</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/148174320-300-300/29803045.jpg?v=638144289877100000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">A outra face</h5>
            <p class="card-text">R$ 91,00</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container"><a href="biografias.html" class="btn btn-primary" id="btn-comprar"
        style="margin-top: 20px;">VER MAIS</a></div>
    <hr>
    <h1 id="Ficção">FICÇÃO</h1><br>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/156523996-300-300/2112364084.jpg?v=638658657718600000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Warbreaker</h5>
            <p class="card-text">R$ 159,90</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/156523857-300-300/2112363933.jpg?v=638655201369370000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">A melodia da água</h5>
            <p class="card-text">R$ 59,90</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://livrariacultura.vteximg.com.br/arquivos/ids/156523455-300-300/2112363469.jpg?v=638648292981770000"
            alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">História do ladrão..</h5>
            <p class="card-text">R$ 99,90</p>
            <a href="compra.html" class="btn btn-primary" id="btn-comprar">COMPRAR</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container vm"><a href="ficcao.html" class="btn btn-primary" id="btn-comprar"
        style="margin-top: 20px; ">VER MAIS</a></div>
        
        
        
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </body>
</html>
