#{extends 'main.html' /} 
#{set title:'Catálogo' /}

<h1 class="page-title text-center">Catálogo de Filmes</h1>

<div class="movie-grid">
    #{list items:filmes, as:'filme'}
        <div class="movie-card">
            <img src="/public/images/${filme.imagemUrl}" alt="Capa do filme ${filme.nome}">

            <div class="info">
                <h5>${filme.nome}</h5>
                <p>${filme.genero}</p>
                <a href="@{Carrinho.adicionar(filme.id)}" class="btn btn-add-cart mt-2">Adicionar</a>
            </div>
        </div>
    #{/list}
    #{else}
        <p class="text-center mt-5">Nenhum filme encontrado no catálogo.</p>
    #{/else}
</div>